<!-- Page Content -->
<div class="container">

    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">API's
                <small>and projects built using advanced JavaScript algorithms and advanced programming techniques. Code is currently available on Codepen.</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-4 portfolio-item">
            <a href="http://codepen.io/larsuniverse/full/jAYaVg/">
                <img class="img-responsive" src="http://www.larsbergportfolio.info/simon_says.png" alt="">
            </a>
            <h3>
                <a href="http://codepen.io/larsuniverse/full/jAYaVg/">Simon Says</a>
            </h3>
        </div>
        <div class="col-md-4 portfolio-item">
            <a href="http://codepen.io/larsuniverse/full/KrXxLG/">
                <img class="img-responsive" src="http://www.larsbergportfolio.info/pomodoro.png" alt="">
            </a>
            <h3>
                <a href="http://codepen.io/larsuniverse/full/KrXxLG/">A Pomodoro Timer</a>
            </h3>
           
        </div>
        <div class="col-md-4 portfolio-item">
            <a href="http://codepen.io/larsuniverse/full/Krvakv/">
                <img class="img-responsive" src="http://www.larsbergportfolio.info/tic_tac_toe.png" alt="">
            </a>
            <h3>
                <a href="http://codepen.io/larsuniverse/full/Krvakv/">A Tic Tac Toe Game</a>
            </h3>
        </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-4 portfolio-item">
            <a href="http://codepen.io/larsuniverse/full/jrbrPm/">
                <img class="img-responsive" src="http://www.larsbergportfolio.info/random_quote.png" alt="">
            </a>
            <h3>
                <a href="http://codepen.io/larsuniverse/full/jrbrPm/">Random Quote Generator</a>
            </h3>
        </div>
        <div class="col-md-4 portfolio-item">
            <a href="http://s.codepen.io/larsuniverse/full/XKgKZx">
                <img class="img-responsive" src="http://www.larsbergportfolio.info/javascript_calculator.png" alt="">
            </a>
            <h3>
                <a href="http://s.codepen.io/larsuniverse/full/XKgKZx">JavaScript Calculator</a>
            </h3>

        </div>
        <div class="col-md-4 portfolio-item">
            <a href="http://codepen.io/larsuniverse/full/dXYePG/">
                <img class="img-responsive" src="http://www.larsbergportfolio.info/weather_view.png" alt="">
            </a>
            <h3>
                <a href="http://codepen.io/larsuniverse/full/dXYePG/">Show the Local Weather</a>
            </h3>
        </div>
    </div>

    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-4 portfolio-item">
            <a href="http://codepen.io/larsuniverse/full/LZGPrd/">
                <img class="img-responsive" src="http://www.larsbergportfolio.info/wikipedia_search.png" alt="">
            </a>
            <h3>
                <a href="http://www.larsbergportfolio.info/wikipedia_search.png">Wikipedia Viewer</a>
            </h3>
        </div>
        <div class="col-md-4 portfolio-item">
            <a href="http://codepen.io/larsuniverse/full/dXGWJd/">
                <img class="img-responsive" src="http://www.larsbergportfolio.info/twitch_online.png" alt="">
            </a>
            <h3>
                <a href="http://codepen.io/larsuniverse/full/dXGWJd/">Twitchtv JSO API</a>
            </h3>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Lars Berg's API Portfolio 2016</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

</div>
<!-- /.container -->
